<div class="container mt-4">
  <h2>Booking Summary</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Seat Number</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userData">
        <td>{{ user.seatId }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.gender }}</td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" (click)="confirmAndPay()">Proceed</button>
  <button class="btn btn-danger" (click)="cancelBooking()">Cancel</button>
</div>

<div *ngIf="showConfirmationDialog" class="confirmation-dialog">
  <div class="confirmation-content">
    <h2 class="dialog-title">Payment</h2>
    <form [formGroup]="upiIdForm">
      <!-- Add this formGroup directive -->
      <p class="dialog-text">Enter your UPI ID:</p>
      <input type="text" formControlName="upiId" class="dialog-input" />
      <div
        class="error-message"
        *ngIf="
          upiIdForm.get('upiId')?.hasError('required') &&
          upiIdForm.get('upiId')?.touched
        "
      >
        UPI ID is required.
      </div>
      <div
        class="error-message"
        *ngIf="upiIdForm.get('upiId')?.hasError('pattern')"
      >
        UPI ID format is invalid.
      </div>
    </form>
    <div class="button-container">
      <button class="btn btn-primary dialog-button" (click)="confirm()">
        Pay
      </button>
      <button class="btn btn-danger dialog-button" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</div>

<div *ngIf="showSuccessMessage" class="confirmation-dialog">
  <div class="confirmation-content">
    <i class="fa-solid fa-circle-check fa-flip" style="color: #299e29"></i>
    <h1>Transaction Successful</h1>
  </div>
</div>
