<div class="container">
  <button class="btn btn-primary my-4" (click)="backToAdminInterface()">
    Back
  </button>

  <div *ngFor="let busId of getBusIds()">
    <div *ngIf="bookedSeatsByBus[busId].length > 0; else noBooking">
      <h2>Booked Seats for Bus {{ busId }}</h2>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Seat Number</th>
            <th>Passenger Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Cancel</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let seat of bookedSeatsByBus[busId]">
            <td>{{ seat.id }}</td>
            <td>{{ seat.passengerName }}</td>
            <td>{{ seat.gender }}</td>
            <td>{{ seat.passengerAge }}</td>
            <td>
              <button
                class="btn btn-danger"
                (click)="cancelSeat(busId, seat.id, seat.deck)"
              >
                Cancel
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  <ng-template #noBooking>
    <p class="text-center">Currently there are no tickets were booked.</p>
  </ng-template>
</div>
