<button class="btn btn-primary mb-4" (click)="backToAdminInterface()">
  Back
</button>

<button class="btn btn-success mb-4" (click)="showAddForm = true">
  Add Bus
</button>

<div *ngIf="buses.length === 0; else busList">
  <p class="text-center">Currently there are no buses available.</p>
</div>

<ng-template #busList>
  <div class="container mt-2">
    <h2>Available Buses</h2>
    <div *ngFor="let bus of buses" class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <h5 class="card-title card-title-bus">
              <i class="fas fa-bus"></i> Bus Number: {{ bus?.busNo }}
            </h5>
            <p class="card-text">
              <b class="heading"> Bus Type: </b> {{ bus?.type }}
            </p>
            <p class="card-text">
              <b class="heading"> Seats Left:</b> {{ bus?.seatsLeft }}
            </p>
          </div>
          <div class="col-md-4">
            <h5 class="card-title card-title-time">
              <i class="far fa-clock"></i> Arrival & Departure
            </h5>
            <p class="card-text">
              <b class="heading">Departure Time:</b> {{ bus?.departTime }}
            </p>
            <p class="card-text">
              <b class="heading">Arrival Time:</b> {{ bus?.arriveTime }}
            </p>
          </div>
          <div class="col-md-4">
            <h5 class="card-title card-title-route">
              <i class="fas fa-map-marker-alt"></i> Route Details
            </h5>
            <p class="card-text">
              <b class="heading">From:</b> {{ bus?.from }}
            </p>
            <p class="card-text"><b class="heading">To:</b> {{ bus?.to }}</p>
            <p class="card-text">
              <b class="heading">Minimum Price:</b> {{ bus?.minPrice }}
            </p>
          </div>
        </div>
        <button class="btn btn-primary mt-3" (click)="showEdit(bus)">
          Edit
        </button>
        <button class="btn btn-danger mt-3" (click)="showDelete(bus)">
          Delete
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Edit Bus Pop Up -->
<div *ngIf="showEditForm" class="confirmation-dialog">
  <div class="confirmation-content">
    <h4>Edit Bus Details</h4>
    <form (ngSubmit)="saveChanges()" #editForm="ngForm">
      <div class="form-group">
        <label for="departTime">Departure Time:</label>
        <input
          type="text"
          class="form-control"
          name="departTime"
          [(ngModel)]="formData.departTime"
          required
        />
      </div>
      <div class="form-group">
        <label for="arriveTime">Arrival Time:</label>
        <input
          type="text"
          class="form-control"
          name="arriveTime"
          [(ngModel)]="formData.arriveTime"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary">Save Changes</button>
      <button type="button" class="btn btn-secondary" (click)="cancelEdit()">
        Cancel
      </button>
    </form>
  </div>
</div>

<!-- Add Bus Pop Up -->
<div *ngIf="showAddForm" class="confirmation-dialog">
  <div class="confirmation-content">
    <h4>Add Bus</h4>
    <form (ngSubmit)="addBus()" #addForm="ngForm">
      <div class="form-group">
        <label for="newBusNo">Bus Number:</label>
        <input
          type="text"
          class="form-control"
          id="newBusNo"
          name="newBusNo"
          [(ngModel)]="newBus.busNo"
          required
        />
      </div>
      <div class="form-group">
        <label for="newDepartTime">Departure Time:</label>
        <input
          type="text"
          class="form-control"
          id="newDepartTime"
          name="newDepartTime"
          [(ngModel)]="newBus.departTime"
          required
        />
      </div>
      <div class="form-group">
        <label for="newArriveTime">Arrival Time:</label>
        <input
          type="text"
          class="form-control"
          id="newArriveTime"
          name="newArriveTime"
          [(ngModel)]="newBus.arriveTime"
          required
        />
      </div>

      <div class="form-group">
        <label for="newFrom">From:</label>
        <input
          type="text"
          class="form-control"
          id="newFrom"
          name="newFrom"
          [(ngModel)]="newBus.from"
          required
        />
      </div>
      <div class="form-group">
        <label for="newTo">To:</label>
        <input
          type="text"
          class="form-control"
          id="newTo"
          name="newTo"
          [(ngModel)]="newBus.to"
          required
        />
      </div>
      <div class="form-group">
        <label for="newSeatsLeft">Seats Left:</label>
        <input
          type="number"
          class="form-control"
          id="newSeatsLeft"
          name="newSeatsLeft"
          [(ngModel)]="newBus.seatsLeft"
          required
        />
      </div>
      <div class="form-group">
        <label for="newType">Type:</label>
        <input
          type="text"
          class="form-control"
          id="newType"
          name="newType"
          [(ngModel)]="newBus.type"
          required
        />
      </div>
      <div class="form-group">
        <label for="newMinPrice">Minimum Price:</label>
        <input
          type="number"
          class="form-control"
          id="newMinPrice"
          name="newMinPrice"
          [(ngModel)]="newBus.minPrice"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary">Add Bus</button>
      <button type="button" class="btn btn-secondary" (click)="cancelAdd()">
        Cancel
      </button>
    </form>
  </div>
</div>

<!-- Delete Bus Pop Up -->
<div *ngIf="showDeletePopUp" class="confirmation-dialog">
  <div class="confirmation-content">
    <p>
      Are you sure to continue?
      <br />
      Note: Once you press YES, you cannot edit the data you entered.
    </p>
    <button class="btn btn-danger" (click)="deleteBus(busToDelete)">Yes</button>
    <button class="btn btn-primary" (click)="cancelDelete()">No</button>
  </div>
</div>
